<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default blur-box">
                <div class="panel-heading text-center panel-relative desktop-only">
                    <button type="button" class="btn btn-default" (click)="onClickToLogin()">
                                    Login
                            </button>
                    <button type="button" class="btn btn-default" (click)="onClickToRegister()">
                                    Register
                            </button>
                </div>

                <div class="panel-heading text-center panel-relative mobile-only">
                    <h3 class="panel-title">
                        <a [routerLink]="['/login']">
                            Login
                                </a> |
                        <a [routerLink]="['/register']">
                            Register
                                </a></h3>
                </div>

                <div class="panel-body blur-box">
                    <form (ngSubmit)="onLogin(f)" #f="ngForm">
                        <fieldset>
                            <div class="form-group">
                                <label for="email">
                                  EMAIL:
                              </label>
                                <input placeholder="Email" name="email" type="text" ngModel class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">
                                  PASSWORD:
                              </label>
                                <input placeholder="Password" name="password" type="password" ngModel class="form-control">
                                <br>
                                <div class="help-links">
                                    <span class="forgotten-pass">
                                  <a href="/lostpass">
                                       Forgot your password?
                                  </a>
                              </span>

                                </div>
                                <br>
                                <!-- not sure if we'll be able to implement this -->
                                <!-- <div class="checkbox">
                                    <label>
                                  <input name="remember" type="checkbox" value="Remember Me">
                                      Remember Me
                              </label>
                                </div> -->

                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
