.container {
    margin-top: 100px;
}

.panel-heading{
    height: 60px;
    background-color: transparent;

}
.btn-default {
    margin-top: -10px;
    height: 40px;
    width: 110px;
}

@media only screen and (max-width: 378px) {
    .desktop-only {
        display: none;
    }

}
@media only screen and (min-width: 378px) {
    .mobile-only {
        display: none;
    }
}
