<footer class="footer-distributed"> 
    <div class="container genral"> 
        <div class="footer-right"> 
            <ul class="list-inline"> 
                <li> 
                    <a href="https://www.facebook.com" class="btn-social btn-outline"> 
                        <span class="sr-only"> 
                            <i class="fa fa-fw fa-facebook"> 
                            </i>
                        </span>
                    </a>
                </li>
                <li> 
                    <a href="https://plus.google.com" class="btn-social btn-outline"> 
                        <span class="sr-only"> 
                            <i class="fa fa-fw fa-google-plus"> 
                            </i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com" class="btn-social btn-outline"> 
                        <span class="sr-only"> 
                            <i class="fa fa-fw fa-twitter"> 
                            </i>
                        </span>
                    </a>
                </li>
                <li> 
                    <a href="https://linkedin.com" class="btn-social btn-outline"> 
                        <span class="sr-only"> 
                            <i class="fa fa-fw fa-linkedin"> 
                            </i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-left"> 
            <p class="footer-links"> 
                <a href="/about">
                    ABOUT 
                </a>
                <a href="/contacts">
                    CONTACTS 
                </a>
            </p>
            <p class="copy-right">
                SnapIT &copy; 2017
            </p>
        </div>
    </div>
</footer>