<div class="container">
    <h2 *ngIf="filterBy==='all'">Latest Photos</h2>
    <h2 *ngIf="filterBy!=='all'">Photos with {{filterBy}}</h2>
    <hr>
    <div class="row">
        <div class="container-fluid col-lg">
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='all'" (click)="filterBy='all'" >Latest</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='Landscape'" (click)="filterBy='Landscape'" >Landscape</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='Portrait'" (click)="filterBy='Portrait'" >Portrait</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='Animals
        '" (click)="filterBy='Animals'">Animals</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='Architecture
        '" (click)="filterBy='Architecture'">Architecture</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='Other
        '" (click)="filterBy='Other'">Other</button>
        </div>
    <hr>
    <div class="gal">
    <ul >
      <li *ngFor="let image of (images | async |  imageFilter:filterBy)"
        class="img">
        <a [routerLink]="['/image', image.$key]">
            <img src="{{image.url}}" class="tn">
            </a>
      </li>
    </ul>
  </div>
  </div>
</div>
<!-- <h1>Images</h1>
<div *ngFor="let image of images | async">
    <img [src]="image?.url" width="120px">
</div>
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()">
</div>
<div *ngIf="!finished">
 Loading more movies...
</div>
<div *ngIf="finished">
  End of database... That's all folks!
</div> -->
