ul { padding:0; max-width:500px; margin: auto}
/* li { display:inline;} */

li {
  display: inline;
}
.tn {
  margin:6px 6px;
  border: 2px solid #eee;
  box-shadow:#555 1px 1px 8px 1px;
  cursor: pointer;

}

h2{
  margin-bottom: 20px;
}


.gal {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}

.gal > ul>li>a img {
    width: 100%;
    padding: 7px;
}

@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;
    }
}
