<div class="container">
  <div class="row">
    <h2>Latest Photos</h2>
    <hr>
    <div class="gal">
    <ul >
      <li *ngFor="let image of images | async"
        class="img">
        <a [routerLink]="['/image', image.$key]">
            <img src="{{image.url}}" class="tn">
            </a>
      </li>
    </ul>
  </div>
  </div>
</div>

<!-- <div class="container">


  <h1>Pure Css Responsive Masonry Gallery</h1>
  <div class="col-md-12">
    <div class="row">
      <hr>

      <div class="gal">

        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">

        <img src="https://preview.ibb.co/mWpE3Q/2.jpg"
          alt="">

        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">

        <img src="https://preview.ibb.co/mysOxk/3.jpg"
          alt="">



        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/mWpE3Q/2.jpg"
          alt="">

        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">

        <img src="https://preview.ibb.co/mysOxk/3.jpg"
          alt="">

        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt=""><img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">

        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/mysOxk/3.jpg"
          alt="">

        <img src="https://preview.ibb.co/mysOxk/3.jpg"
          alt="">

        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/i0PmHk/1.jpg"
          alt="">
        <img src="https://preview.ibb.co/mWpE3Q/2.jpg"
          alt="">

      </div>

    </div>
  </div>
</div> -->
