<div class="container">
    <h2>Latest Photos</h2>
    <hr>
    <div class="row">
        <div class="container center">
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='all'" (click)="filterBy='all'" >Latest Photos</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='nature'" (click)="filterBy='nature'" >Photos with Nature</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='mountains'" (click)="filterBy='mountains'" >Photos with Mountains</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='herbage
        '" (click)="filterBy='herbage'">Herbage</button>
    </div>
    <hr>
    <div class="gal">
    <ul >
      <li *ngFor="let image of (images | async |  imageFilter:filterBy)"
        class="img">
        <a [routerLink]="['/image', image.$key]">
            <img src="{{image.url}}" class="tn">
            </a>
      </li>
    </ul>
  </div>
  </div>
</div>
