.navbar-default {
    background-color: black;
    color: white;
    font-size: 16px;
    border:0px;
}

.logo {
    max-height: 30px;
    margin-top: -5px;
    margin-right: 5px;
    float: left;
}

a>span {
    color: white;
}
div>a>span {
    color: white;
}

ul>li>a {
    color: white;
    max-height: 53px;

}

a>div>span {
    color: white;
}


ul>li>a {

    border-bottom: 3px solid black;
}
ul>li>a:hover {

    border-bottom: 3px solid white;
}

@media only screen and (max-width: 768px) {
    .mobile-only {
        display: none;
    }
}


