<!-- Carousel -->
<div id="carousel-example-generic"
  class="carousel slide"
  data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic"
      data-slide-to="0"
      class="active"></li>
    <li data-target="#carousel-example-generic"
      data-slide-to="1"></li>
    <li data-target="#carousel-example-generic"
      data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://firebasestorage.googleapis.com/v0/b/snapit-768ca.appspot.com/o/carousel%2Fmedium%2Fgreen-tea-plantation-1407_450.jpg?alt=media&token=8aa19ea7-8ef8-425a-b8bd-477a3608ef39"

        alt="First slide">
      <!-- Static Header -->
      <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
          <h2>
            <span id="welcome-message" class="lg-below md-below">Welcome to SnapIT</span>
          </h2>
          <br>
          <h3>
            <span class="lg-below md-below">Share your brilliance with the world</span>
          </h3>
          <br>
          <div class="lg-below md-below">
            <a class="btn btn-theme btn-sm btn-min-block"
              [routerLink]="['/login']"
              *ngIf="!isUserLoggedIn">Login</a>
            <a class="btn btn-theme btn-sm btn-min-block"
              href="#"
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/register']">Register</a>
          </div>
        </div>
      </div>
      <!-- /header-text -->
    </div>
    <div class="item">
      <img src="https://firebasestorage.googleapis.com/v0/b/snapit-768ca.appspot.com/o/carousel%2Fmedium%2Fhay-1061267_1407_450.jpg?alt=media&token=8f3bf4a0-f19f-4e2f-81e1-ab0184ecef04">
      <!-- Static Header -->
      <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
          <h2>
            <span class="lg-below md-below">Welcome to SnapIT</span>
          </h2>
          <br>
          <h3>
            <span class="lg-below md-below">Where hight quality proffesional photography thrives</span>
          </h3>
          <br>
          <div class="lg-below md-below">
            <a class="btn btn-theme btn-sm btn-min-block"
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/login']">Login</a>
            <a class="btn btn-theme btn-sm btn-min-block"
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/register']">>Register</a>
          </div>
        </div>
      </div>
      <!-- /header-text -->
    </div>
    <div class="item">
      <img src="
      https://firebasestorage.googleapis.com/v0/b/snapit-768ca.appspot.com/o/carousel%2Fmedium%2Fsunset-2021266_1407_450.jpg?alt=media&token=a80f5b29-e53b-487c-adc6-da6b866ffecf"

        alt="Third slide">
      <!-- Static Header -->
      <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
          <h2>
            <span class="lg-below md-below">Welcome to SnapIT</span>
          </h2>
          <br>
          <h3>
            <span class="lg-below md-below">Enjoy your stay</span>
          </h3>
          <br>
          <div class="lg-below md-below">
            <a class="btn btn-theme btn-sm btn-min-block"
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/login']">Login</a>
            <a class="btn btn-theme btn-sm btn-min-block"
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/register']">Register</a>
          </div>
        </div>
      </div>
      <!-- /header-text -->
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control"
    href="#carousel-example-generic"
    data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control"
    href="#carousel-example-generic"
    data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- /carousel -->
<div class="container">
  <h2 id="center">Latest Photos</h2>
  <hr>
  <div class="gal">

    <ul *ngIf="images">
      <li *ngFor="let image of (images | async | reverse)"
        class="img">
        <a [routerLink]="['/image', image.$key]">
          <img src="{{image.url}}" class="tn">
          </a>
      </li>
    </ul>
  </div>
</div>
