<div class="container">
  <div *ngIf="currentFile">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentFile?.progress + '%' }"></div>
    </div>
    Progress: {{currentFile?.progress}}% Complete
  </div>
  <label class="control-label" for='image-selector'> Upload New Images </label>
  <div class="input-group">
    <label class="input-group-btn">
      <span class="btn btn-primary">
        Browse&hellip; <input type="file" (change)="handleFiles($event)" style="display: none;" multiple>
      </span>
    </label>
    <input type="text" class="form-control" readonly [value]="selectStatus">
    <label class="input-group-btn">
      <span class="btn btn-primary">
          Upload Images <input  type="button"  (click)="uploadFiles()" style="display: none;">
      </span>
    </label>
  </div>
  <div *ngFor="let image of uploadedFiles" class="col-xs-12 col-sm-6 col-md-3">
    <img src="{{image.url}}">

    <label class="control-label image-data" for='title'> Image Title </label>
    <input class="image-data" type="text" class="form-control" id= "title" placeholder= "Provide image title">

    <a class="btn btn-primary btn-block image-data"(click)="saveImage(image.url)">Save</a>
    <a class="btn btn-danger btn-block image-data"(click)="deleteFile(image.file.name)">Delete</a>
  </div>
</div>
