.container {
    padding: 5%;
    margin-top: 80px;
}

.heading {
    font-size: 24px;
    margin-bottom: 30px;
}

[hidden] {
    display: none !important;
  }

button {
    margin-top: 20px;
}

.image-data {
    margin-top: 15px;
}

img {
    cursor:pointer;
    margin-top: 30px;
    width: 100%; 
  }
