<div class="user-profile">
    <div class="wrapper-profile">
        <h1> {{username}} </h1>
    </div>
</div>
<div class="inside-info">
    <img class="user-pic" [src]="profilePicUrl" alt='Profile picture'>
</div>
<div class="right">
    <div class="email">
        <span class="labels">
            Email: {{email}}
        </span>
    </div>
    <div class="name" >
        <span class="labels">
            Name: {{firstName}} {{lastName}}
        </span>
    </div>
    <div class="edit">
        <a [href]="editHref">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Edit Profile 
        </a>
    </div>
</div>
<div class="uploads">
    <div> {{firstName}}'S UPLOADS: </div>
    <div *ngFor="let upload of uploads">
      {{ upload }}
    </div>
</div>
<div class="favourites">
    <i class="fa fa-star-o fa-2" aria-hidden="true"></i>
    <div> FAVOURITES: </div>
    <div *ngFor="let favourite of favourites">
        {{ favourite }}
    </div>
</div>


