<div class="container">
  <div>
    <div class="progress">
      <div class="progress-bar progress-bar-animated"></div>
    </div>
    Progress:
  </div>
  <div class="container">
    <h2 class="heading">Upload New Images</h2>
    <div class="row">
      <div class="col-xs-12">
        <label class="btn btn-default">
              Choose Files
              <input type="file"
                   hidden
                   multiple>
           </label>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-primary">Upload Images</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
