<div class="container">
  <div *ngIf="currentFile">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentFile?.progress + '%' }"></div>
    </div>
    Progress: {{currentFile?.progress}}% Complete
  </div>
  <label class="control-label" for='image-selector'> Upload New Images </label>
  <div class="input-group">
    <label class="input-group-btn">
      <span class="btn btn-primary">
        Browse&hellip; <input type="file" (change)="handleFiles($event)" style="display: none;" multiple>
      </span>
    </label>
    <input type="text" class="form-control" readonly [value]="selectStatus">
  </div>
  <button class="btn btn-primary" (click)="uploadFiles()">Upload Images</button>
</div>
