<div class = 'container'>
    <p>
      We are happy to have 
    </p>
    <p>
      <strong>
        {{lengthUsers}} Users
      </strong>
    </p>
    <p>
      in our family, all of them captured a total of 
    </p>
    <p>
      <strong>
      {{lengthAll}} beautiful moments,
      </strong>
    </p>
    <p>
       separated in all of the five categories
      </p>
    <p>
      <strong>
      Landscape: {{lengthLandscape}}
      </strong>
    </p>
    <p>
      <strong>
      Architecture: {{lengthArchitecture}}
      </strong>
    </p>
    <p>
      <strong>
      Animals: {{lengthAnimals}}
      </strong>
    </p>
    <p>
      <strong>
      Portrait: {{lengthPortrait}}
      </strong>
    </p>
    <p>
      <strong>
      Other: {{lengthOther}}
      </strong>
    </p>
</div>
